*,
:after,
:before {
  box-sizing: inherit;
  color: #333;
  font-size: inherit;
  background: 0 0;
  transition: color 0.3s, background 0.3s;
  font-family: inherit;
}
:focus {
  outline: 2px dashed #d80;
  outline-offset: 2px;
}
body {
  margin: 0;
}
main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: Spartan;
  font-size: 18px;
  box-sizing: border-box;
  color: #333;
  background: #ddd;
  text-align: left;
}
#app {
  width: 100%;
  max-width: 26rem;
  padding: 4rem 1rem;
  border: 2px solid;
  box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.25);
  position: relative;
  background: #f8f8e8;
  margin: 3rem auto 0;
}
#app h1 {
  font-size: 1.8rem;
}
#app #left-container {
  text-align: center;
}

#app #left-container button {
  cursor: pointer;
  margin-top: 2rem;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 2px solid;
  font-size: 1rem;
}
#app #left-container button {
  font-family: "Fira Code", monospace;
}
#app #left-container button {
  padding: 0.5em 1em;
  font-weight: 700;
}
#app #square_container {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: -4rem;
  left: calc(50% - 4rem);
  background-color: #f8f8e8;
}
#app #right-container {
  margin: auto;
}

#app #right-container .flex {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
@media (min-width: 440px) {
  #app #right-container .flex {
    flex-wrap: nowrap;
  }
  #app #right-container .flex > :not(:last-child) {
    margin-right: 1rem;
  }
}
@media (min-width: 440px) {
  #app {
    padding: 4rem 3rem;
  }
}
@media (min-width: 768px) {
  #app {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 3rem;
    max-width: 810px;
    align-items: center;
    text-align: left;
    margin: 0 auto;
  }
  #app #square_container {
    
    position: relative;
    left: unset;
    top: unset;
    width: 12rem;
    height: 12rem;
  }
  #app #right-container {
    padding: 2rem 0 2rem 3rem;
    border-left: 2px dashed;
  }
}


.loader {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  top: 50%;
  color: #aaa;
  -webkit-animation: text 1s infinite ease-in-out alternate;
  animation: text 1s infinite ease-in-out alternate;
}
@keyframes text {
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
div#celeba-scene {
  height: 400px;
  position: relative;
}

#ui-box{
  border: 2px solid !important;
  background-color: #f8f8e8 !important;
}

canvas {
  width: 100% !important;
  height: 100%  !important;
}