@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

*,
:after,
:before {
  box-sizing: inherit;
  color: black;
  font-size: inherit;
  background: 0 0;
  transition: color 0.3s, background 0.3s;
  font-family: inherit;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Sarabun', sans-serif;
	width: 100%;
	height: 100vh;
	background: #FCF9F3;
	color: black;
	overflow: hidden;
}
a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}
@media (min-width: 900px) {
	.container {
		display: flex;
	}
	.left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.container {
	width: 96%;
	margin: 30px auto;
}

.column {
	width: 50%;
	height: 100vh;
	border: 1px solid rgba(255, 255, 255, 0.1);
	margin: 20px;
	border-radius: 20px;
}

.left {
	flex-direction: column;
	justify-content: space-between;
	padding: 0 0 100px 0;
	font-family: "Sarabun";
	border: none;
}
.logo img{
	height: 50px;
	width: auto;
	-webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);

}

.header h1 {
	text-transform: uppercase;
	font-size: 85px;
	font-weight: 300;
	flex-grow: 1;
}

.ml12 .letter, .ml13 .letter, .ml14 .letter{
	display: inline-block;
	line-height: 1em;
}

.right {
	padding: 30px;
}

.nav {
	display: flex;
	justify-content: space-between;
	color: rgb(104, 104, 104);
	font-family: "Sarabun";
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-item{
	cursor: pointer;
}

.animate-cont{
	display: none;
}
.buttons {
	display: flex;
	justify-content: space-between;
	color: black;
	font-family: "Sarabun";
	text-transform: uppercase;
}

.active {
	color: black;
	text-decoration: underline;
	text-underline-offset: 5px;
}

.card-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-img canvas {
	width: 50%;
	margin: 40px;
}

.card-img img {
	width: 125%;
}

button {
	width: 100%;
	margin: 40px 0;
	padding: 20px 15px;
	background: #000;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border: none;
	font-weight: 400;
	outline: none;
	border-radius: 40px;
	cursor: pointer;
}

@media (max-width: 900px) {
	html,
	body {
		height: 100%;
		overflow: visible;
	}
	.left {
		display: flex;

		flex-direction: column;
		justify-content: space-between;
	}

	.column {
		width: 94% !important;
	}
}















canvas :not(.output_canvas)  {
	width: 100% !important;
	height: 100%  !important;
  }
  
  
  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  .abs {
	position: absolute;
  }
  
  a {
	text-decoration: none;
  }
  
  .container_video {
	position: relative;
	background-color: #596e73;
	height: 127px;
	width: 127px;
	display: none;
  }
  
  .input_video {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
  .input_video.selfie {
	transform: scale(-1, 1);
  }
  
  .output_canvas {
	position: absolute;
	height: 127px;
	width: 127px;
	left: 0;
	top: 0;
  }
  
  .control-panel {
	position: absolute;
	left: 10px;
	top: 10px;
  }
  
  .loading {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	align-items: center;
	backface-visibility: hidden;
	justify-content: center;
	opacity: 1;
	transition: opacity 1s;
  }
  .loading .message {
	font-size: x-large;
  }
  .loading .spinner {
	position: absolute;
	width: 120px;
	height: 120px;
	animation: spin 1s linear infinite;
	border: 32px solid #bebebe;
	border-top: 32px solid #3498db;
	border-radius: 50%;
  }
  
  .loaded .loading {
	opacity: 0;
  }








.loader {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	top: 50%;
	color: #aaa;
	-webkit-animation: text 1s infinite ease-in-out alternate;
	animation: text 1s infinite ease-in-out alternate;
  }
  @keyframes text {
	30% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  div#celeba-scene {
	height: 400px;
	position: relative;
  }

  div#celeba-scene-image {
	height: 400px;
	position: absolute;
  }

  .gif_active{
	display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;
  }

  #gif_image{
	  height: 100%;
  }
  